
<article class="col-md-12">

    <div class="cards-1 section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="../blog/#hamburguesa"> <img class="img" src="assets/blogplug/hamburguesa1.jpg">
                                <div class="card-caption"> Coronan a la mejor hamburguesa de Bogotá 2023 </div>
                            </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-info">Premios</h6>
                            <p class="card-description">Drop Door destaca el reconocimiento otorgado a una hamburguesería por su excepcional creación culinaria, que se distingue por su sabor insuperable y combinación de ingredientes únicos </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="table table-danger">

                            <h4 class="card-caption">
                                        <a href="../blog/#laboratorio">Del laboratorio a tu plato: La revolución de la cocina molecular </a>
                                    </h4>
                            <p class="card-description">Técnicas innovadoras que desafían los límites tradicionales de la cocina y brindan experiencias sensoriales únicas. </p>
                            <div class="ftr text-center"> <a href="../blog/#laboratorio" class="btn btn-white btn-round">Leer Más</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="table">
                            <h6 class="category text-danger">
                                        <i class="fa fa-globe "></i> Opinión
                                    </h6>
                            <h4 class="card-caption">
                                        <a href="../blog/#criolla">La comida criolla ¿Va para afuera?</a>
                                    </h4>
                            <div class="ftr">

                                <div class="stats"> <i class="fa fa-heart"></i> 342 &nbsp; <i class="fa fa-comment"></i> 45 </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img" src="assets/blogplug/Birriapizza.jpg"> </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-success"><i class="fa fa-university"></i> Novedad</h6>
                            <h4 class="card-caption">
                        <a href="../blog/#birria">Pizza de Birria: Nuestra nueva obsesión</a>
                        </h4>
                            <p class="card-description">Increíble combinación de sabores, donde la suculenta carne de birria se une a la deliciosa masa de pizza, creando una explosión de texturas y sabores que deleita los sentidos y se convierte en una experiencia gastronómica inolvidable.</p>
                            <div class="ftr">
                                <div class="author">
                                    <a href="#"> <img src="http://adamthemes.com/demo/code/cards/images/avatar3.png" alt="..." class="avatar img-raised"> <span>Mary Dunst</span> </a>
                                </div>
                                <div class="stats"> <i class="fa fa-clock-o"></i> 10 min </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="#"> <img class="img" src="assets/blogplug/comidaperuana.png"> </a>
                            <div class="ripple-cont"></div>
                        </div>
                        <div class="table">
                            <h6 class="category text-warning">
                                        <i class="fa fa-soundcloud"></i> Opinión
                                    </h6>
                            <h4 class="card-caption">
                            <a href="../blog/#peruanos">Top 5 Restaurantes Peruanos en Bogotá</a>
                        </h4>
                            <div class="ftr">

                                <div class="stats"> <i class="fa fa-clock-o"></i> 15 min </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="table table-danger">

                            <h4 class="card-caption">
                                        <a href="../blog/#arte">El arte de la presentación: Cómo la estética influye en la experiencia gastronómica moderna</a>
                                    </h4>
                            <p class="card-description"> Desde la disposición artística de los ingredientes hasta la elección de vajillas y decoraciones</p>
                            <div class="ftr text-center"> <a href="../blog/#arte" class="btn btn-white btn-round">Leer Más</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>
