
<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <div class="logo">
          <a href=''><img src="assets/footer/logopnG.png" alt="Logo de la marca" height="50px"></a> 
        </div>
        <div class="avatardiv">
          <a href='login'><img src="assets/login/avatar-removebg-preview.png" alt="Logo de la marca" height="50px" class="avatar" ></a> 
        </div>
        <div class="acordeon">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" >Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href=""><p class="textNav">Home</p></a>
              <a class="nav-link active" aria-current="page" href="profile"><p class="textNav">Mi Perfil</p></a>
            </li>
            <hr>
            <li class="nav-item">
        
                <a class="nav-link active" aria-current="page" href="products"><p class="textNav">Comprar</p></a>
                <a class="nav-link active" aria-current="page" href="blog"><p class="textNav">The Blog!</p></a>
                <a class="nav-link active" aria-current="page" href="aboutus"><p class="textNav">Acerca de Nosotros</p></a>
                <a class="nav-link active" aria-current="page" href="checkout"><p class="textNav">Pagos</p></a>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
</div>
  </nav>