
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d338ac;
}


.login-container{

    display: flex; 
    justify-content: center;
    /* background-color: aqua; */


}
.form{
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: #d338ac;
    padding-top: 20px;
    border: none;
    outline: 0px;
}
.form .lbl-nombre{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}
.form .lbl-nombre:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #d338ac;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #FF63AB;
}
.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
    font-size: 14px;
    color: #FF63AB;
}
.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
    transform: translateX(0%);
}
@media only screen and (min-width:320px) and (max-width:768px){
 .form{
    width:85%;
}
    }
    
.imputs{
    margin-top: 5rem;
}
.btn{
	display: block;
	width: 300px;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #5f1649, #d338ac, #ae32be);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.demas{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
	width: 500px;
    height: 500px;
	margin:7% auto;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 17px #333;
}

.logo{
    display: flex;
    justify-content:center ;
    

}
.row{
    
    margin: 0px 300px 0px 300px;
    display: flex;
    flex-direction: row;
    
}
#triadpic{
    margin:7% auto;
}


.login_footer{
    display: flex;      
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.5rem;
}