   <div class="row">
        <div id="triadpic" class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12">
            <img class="triadpicture" src="assets/home/triadpic.png" alt="Triad" height="400px" width="450px">
        </div>
        
    <div class="container">
        <div class="logo">
            <a href="../">
                <img class="logofooter" href="../" src="assets/footer/logopnG.png" alt="logo"></a> 
        </div>
    

    <div class="login-container">
        <div class="login_box">
        <div class="imputs"> 
            <form>
                <form class="form">
                    <input type="text" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Email</span>
                    </label>
                    
                </form>
                <form class="form">
                    <input type="text" required>
                    <label class="lbl-nombre">
                        <span class="text-nomb">Password</span>
                    </label>
                    
                </form>


                <input type="submit" class="btn" value="Login">
            </form>
        </div>
            <div class="demas">
                <div class="creacion">
                     <a href="create">Crear cuenta</a>
                 </div>
               <hr class="lineaS">
                <div class="login_footer">
                <div class="login_facebook">
                    <a href=""><img height="40px" src="assets/user/buscar.png" alt="facebook"></a>
                </div> 
                <div class="login_google">
                    <a href=""><img height="40px" src="assets/user/facebook (2).png" alt="facebook"></a>
                    
                </div>
            </div> 
            </div>

        </div>
        </div>
    </div>
</div>
    

    <app-footer></app-footer>