<app-header></app-header>

<div class="maincontainer">

    <div class="bannersearch">

        <div class="searchbar">
            <div class="searchboxtext">
                <h1>La mejor comida de Bogotá en tus manos!</h1>
            </div>

        <div class="container  justify-content-center">
             <div class="input-group mb-3">
                    <input type="text" class="form-control">
                    <div class="input-group-append"><button class="btn btn-primary"> <img class="searchicon" src="assets/home/searchicon.png" alt="Search"> </button></div>      
            </div>	
        </div>
        </div>

    </div>

    <div class="widget">
        <div class="row">
            <div id="triadpic" class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12">
                <img class="triadpicture" src="assets/home/triadpic.png" alt="Triad">
            </div>
            <div id="triadtext" class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12 ">
                <h2 class="triadtext">¡Deléitate con la comodidad de recibir tus sabores favoritos a la puerta de tu casa!</h2>
                <p class="triadtext">Como el servicio líder de delivery de comida en Bogotá, nos enorgullece llevar tus platos favoritos directamente a tu puerta. Con nuestra amplia red de restaurantes asociados, puedes explorar una variedad de cocinas, desde exquisitas opciones locales hasta platos internacionales de renombre.</p>
                <button type="button" class="btn btn-primary btn-sm">¡Ir a los restaurantes!  </button>
            </div>
        </div>
    </div>

    <div class="blogpeak m-5 p-5">
        <app-blogwidget></app-blogwidget>
    </div>

    <div class="promo"></div>

</div>

<app-footer></app-footer>